.p1 {color:rgb(100, 128, 0)}
.p2 {color:skyblue}
.p3 {
    color:darkorange;
    font-size: 48px;
}

h1 {
    font-size: 60px;
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 2px 2px 1px black;
}  
h2 {font-size: 40px;}

a:hover {color:red}
a {
    font-size: 24px;
    letter-spacing: 1px;
}

@font-face {
    font-family: 'CustomFont';
    src: url('MaShanZheng-Regular.ttf') format('truetype');
}

html {
    background-color: aliceblue;
    font-size: 16px;
    font-family: "CustomFont", sans-serif;
}

body {
    width: auto;
    margin: 0 auto;
    /* background-color: #ff9500; */
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }  

p {
  font-size: 32px;
  line-height: 2;
  letter-spacing: 2px;
}
  
audio {
    width: 324px;
}

/* video {
    display: block;
    margin: 0 auto;
} */